[Desktop Entry]
Type=Application
Terminal=false
StartupNotify=true
Icon=org.gnome.Settings-network-symbolic
Exec=nm-connection-editor
Categories=Network;System
Name=Network Manager
Name[cs]=Manažer sítě
Comment=Network configuration
Comment[cs]=Konfigurace sítě